.App {
  text-align: center;
}


img{
  display:flex;
  justify-content:center;
  align-items:center;
  border:20px,60px;
  margin:20px;
  padding:10px;
  border-radius:1rem;
}
input{
  font-size:3rem;
  color:#1001;
  padding: 12px;
  margin-bottom:12px;
  border:solid 3px black;
  border-radius:8px;
}
label{
  font-size:2rem;
  font-weight:bold;
} 